@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@300&display=swap");

.trendingMain {
  background-color: #f2f4f8;
  padding-top: 81px;
  padding-bottom: 70px;
  padding: 81px 10% 70px;
}

.trendingText {
  width: 100%;
}

.trendingText h2 {
  color: #292929;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.trendingContainer {
  display: flex;
  flex-direction: column;
}
.trendingText h2 {
  margin-bottom: 47px;
}

.trendingHead {
  color: #222222;
  font-weight: 500;
  font-size: 17px;
  font-family: "Noto Sans", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trendingFlex {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 7px;
  align-items: center;
  white-space: nowrap;
}
.trendingFlex-right {
  margin-top: 0px;
  margin-bottom: 0px;
}
.trendingFlex img {
  height: 18px;
  width: 18px;
}
.trendingFlex span {
  color: #777777;
}
.trendingTime span {
  color: #777777;
}

.trendingFlex p {
  font-family: "Noto Sans", sans-serif;
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}

.trendingTime {
  display: flex;
  align-items: center;
  gap: 10px;
}
.trendingTime img,
i {
  height: 12px;
  width: 10.799999237060547px;
}

.trendingTime p {
  font-family: "Noto Sans", sans-serif;
  color: #777777;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
}

.trendingEnd {
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
  height: 20px;
  font-family: "Noto Sans", sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.trendingEnd p {
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.singleBlogtrendingEnd {
  font-family: "Noto Sans", sans-serif;
  color: #222222;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trendingEnd-blog {
  max-width: 401px;
  font-family: "Noto Sans", sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.trendingEnd-blog img {
  display: none;
}

.trendingGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 32px;
}

@media (max-width: 992px) {
  .trendingMain {
    padding: 40px 10%;
  }
}
@media (max-width: 768px) {
  rendingText h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .trendingFlex {
    gap: 4px;
  }
  .trendingFlex p{
    /* letter-spacing: -0.4px; */
  }
}
@media (max-width: 400px) {
  .trendingFlex {
    gap: 2px;
  }
  .trendingFlex p{
    letter-spacing: -0.3px;
  }
}
