.registerBigMian {
  padding: 114px 10% 85px;
  background-color: #f2f7f9;
}
.registerMain {
  box-sizing: border-box;
width: 49%;
  background-color: #ffffff;
 padding: 57px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
}

.authHead {
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: #777777;
}
.authPara {
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  color: #777777;
}

.TextFields p {
  font-size: 14px;
  font: 400;
  font-family: "Nunito", sans-serif;
  color: #777777;
  margin-bottom: 0;
}

.textarea {
  border: none;
  background-color: #ffffff1a;
  border-bottom: 1px solid #777777 ;
  height: 47.67px;
  width: 100%;
  padding: 0 23PX;
  outline: none;
}
.passwordWrapper{
 display: flex;
 justify-content: center;
 align-items: center;
}

.passTextarea{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.passwordWrapper span{
  cursor: pointer;
  position: relative;
  right: 20;
  color: #777777;
}

.registerTextFields {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.TextFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messageInput{
  height: 140px;
width: 100%;
border-radius: 20px;
border: 1px solid #777777;
outline: none;
padding: 10px;
}

.categoryField {
  border-right:22px solid transparent;
  padding-right: 0;
}

.authBlueBtn {
  width: 100%;
  border-radius: 58px;
  height:47.67px;
  background-color: #0065fd;
  border: 1px solid #0065fd;
  color: #ffffff;
  cursor: pointer;
}

.authRedBtn {
  width: 94%;
  border-radius: 20px;
  height: 35px;
  background-color: #f63434;
  border: 1px solid #f63434;
  color: #ffffff;
  cursor: pointer;
}

.alreadyAuth {
  font-size: 14px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #777777;
}

.alreadyAuth span {
  color: #0065fd;
}

.alreadyAuth {
  text-align: center;
}

.checkFlex {
  display: flex;
  gap: 30px;
}

.checkFlex p {
  font-weight: 400;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #777777;
}

.forgerPassword {
  font-weight: 400;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #777777;
}

.authFlex {
  display: flex;
  justify-content: space-between;
}
.loginBtnsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.or {
  text-align: center;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

.divCenter {
  margin-left: 50%;
  transform: translateX(-50%);
}


@media (max-width:992px) {
   /*.......l-r-p 60px ......*/
   .registerMain {
    width: 100%;
   }
   .registerBigMian {
    padding: 84px 10% 65px;
  }
  
 
 }
 @media (max-width:768px) {
   /*.......l-r-p 40px ......*/
   .registerBigMian {
    padding: 64px 10% 55px;
  }
   }

   @media (max-width:576px) {
     /*.......l-r-p 20px ......*/
     .registerMain {
      padding: 20px 20px;
      gap: 0;
     }
     .registerBigMian {
      padding: 114px 7% 85px;
    }
    .textarea {
      height: 35px;
    }
    .authBlueBtn {
      height:35px;}
    .registerBigMian {
      padding: 34px 10% 35px;
    }
    .categoryField {
      border-right:12px solid transparent;
  }
  .messageInput{
    height: 100px;
  }
}
   
/************common css*******************/
 .underline {
  text-decoration: underline;
  text-decoration-color: #0065fd;
  text-underline-offset: 8px;
  text-decoration-thickness: 2.5px;
}

/* .haAclf{
  width:100% !important; 
}
.nsm7Bb-HzV7m-LgbsSe{
  background: #F63434 !important;
} */
